#clockcontainer{
    position:relative;
    margin:auto;
    
    height:40vw;
    width:40vw;
   
    background:url(clck1.png) no-repeat;
    background-size: 100%;
}

#hour,#minute,#second{
    position:absolute;
    background:black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    
    width: 1.8%;
    height: 19%;
    top: 33%;
    left: 49.5%;  
}

#minute{
    width: 1.6%;
    height: 23%;
    top: 29%;
    left: 49.5%;
    opacity: 0.8;
 
    
}
   



#second{
    width: 1%;
    height: 27%;
    top: 25%;
    left: 49.5%;
    opacity: 0.8;
   
  
}